.project {
  h1 {
    margin: 30px 0 50px;
  }

  p {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    div {
      border: 2px solid #000;
      display: block;
      width: 20%;
    }
  }
}
