.projects {
  h1 {
    margin: 30px 0 50px;
  }

  .items {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;

    @media (max-width: 640px) {
      flex-direction: column;
    }

    .item {
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 640px) {
        width: 100%;
      }

      img {
        border: 2px solid #000;
        display: block;
        height: 250px;
        width: 250px;

        @media (max-width: 640px) {
          height: auto;
          width: 100%;
        }
      }

      h2 {
        font-size: 24px;
        margin: 0;
        text-align: center;
      }
    }
  }
}
